

header {
  background-color: rgb(21, 21, 23);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3rem; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem; 
  background-color: rgb(21, 21, 23);
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
